# Splash at Berkeley Introduction to Python
## 3/13/2021
### Table of Contents:
1. [Basic Python Syntax](#section1)  
    1.1 [Jupyter Notebooks](#section1.1)  
    1.2 [Text](#section1.2)  
    1.3 [Code](#section1.3)  
    1.4 [Writing in Jupyter Notebooks](#section1.4)  
    1.5 [Errors](#section1.5)  
2. [Numbers](#section2)  
    2.1 [Basic Arithmetic Operations](#section2.1)  
3. [Variables and Functions](#section3)  
    3.1 [Commenting](#section3.1)  
    3.2 [Assignment Statments](#section3.2)  
    3.3 [Functions](#section3.3)  
    3.4 [Data Types](#section3.4)  
    3.5 [Importing Code](#section3.5)  
    3.6 [Creating your own functions](#section3.6)
4. [Lists](#section4)  
    4.1 [Creating lists](#section4.1)     
    4.2 [Single elements of lists](#section4.2)      
    4.3 [List operations](#section4.3)     
5. [Challenge Questions](#section5)  
    5.1 [Arithmetic](#section5.1)  
    5.2 [Arrays and Arithmetic](#section5.2)   
6. [Feedback survey](#section6)   


### Contact:
Sage Jeon - sungjoojeon@berkeley.edu

<a id='section1'></a>
# Part 1: Basic Python Syntax

This course will teach you to:
1. navigate Jupyter Notebooks (like this one)
2. write and evaluate some basic *expressions* in Python
3. call *functions* to use prewritten code other people have written;
4. break down Python code into smaller parts to understand it.

<a id='section1.1'></a>
### 1.1 Jupyter Notebooks

 - Some shortcuts:
     - `Esc` - `a`: creates a cell above current cell
     - `Esc` - `b`: creates a cell below current cell
     - Alternatives to `shift` - `enter`:
         - `ctrl` - `enter`: run cell, keeps cursor in cell
         - `opt` - `enter`: run cell, create new cell below

Each rectangle containing text is a *cell*.

There are two types of cells: Text and Code

<a id='section1.2'></a>
### 1.2 Text
    - simple cells with text (like this one)
    - can be edited by double-clicking on the cell.

**Practice:**

    Complete the following sentence structure:

Hi, my name is

<a id='section1.3'></a>
### 1.3 Code
   - The language that we are using in this notebook is Python 3
   - "running a cell" will execute all of the code the cell contains
   - cells can be edited by double-clicking the cell, it'll be highlighted with a little green or blue rectangle
   - to run the code in a cell press the ‚ñ∂| button or press `shift` + `enter`

Try running this cell:

In [ ]:
print("Berkeley Splash is the best!!!")

And this one:

In [ ]:
print("\N{WAVING HAND SIGN}, \N{EARTH GLOBE ASIA-AUSTRALIA}!")

Code is broken down into different lines called expressions. Cells can contain multiple lines with multiple expressions. When you run a cell, the lines of code are executed in the order in which they appear. 

Every `print` expression prints a line. Run the next line and notice the order of the output

In [ ]:
print('This line is first,')
print('and this one is last.')

**Question 1.3.1.** Change the cell above so that it prints out:
    
    This line is first,
    then the whole üåè,
    and this one is last.

Hint: if you are stuck on the Earth symbol, try asking your neighbor :)

<a id='section1.4'></a>
### 1.4. Writing in Jupyter Notebooks
Although we have created this notebook for you to learn, you will need to create cells in the future. Lets start with adding new cells for text and code.

To add a cell, click the + button in the menu bar. If the left sidebar has `In [ ]` then it is a code cell, if it is blank it is a text cell. To change the type of cell you can do either of these options:
1. select the cell then click cell from the toolbar and choose Cell Type. (Don't worry about "Raw NBConvert").
2. click the left side of the cell and press `m` for markdown cell or `y` for a code cell.

<a id='section1.5'></a>
### 1.5. Errors
Python is just like any other language you learn, there are grammar rules and these are really important. The computer is designed to excute code based on what it was programmed to understand.
1. The rules are *simple*
2. The most common error is a Syntax Error

Today we are going to teach you a simple error to fix: `SyntaxError`. It tells you that you have created an illegal structure, or in other words, you broke the "grammar rules"

We have made an error in the next cell. Run it and see what happens.

In [ ]:
print("This line is missing something."

Lets break this down, the last line of the error output attempts to tell you in english what went wrong. "`EOF`" means "end of file". Also notice how there is a small carrot that points to a part of the ran cell. This attempts to tell you "where" you made the error.

There is a lot of unnessary cryptic terminology in programming languages but you don't need to understand it all, try to just look at the last line of the error, that is the most simple version of the problem.

**Question 1.5.1.** Try to fix the code above so that you can run the cell and see the intended message instead of an error

<a id='section2'></a>
# Part 2: Numbers
In addition to representing commands to print out lines of code, or *expressions* Python also knows how to intrepret and evaluate numbers. The expression `15.0210000` evaluates to the number 15.021. Run the cell below and see:

In [ ]:
15.0210000

Notice how we didn't use the function `print`. This is because the last line has a value it will print that value for you. BUT, it will disregard any prior lines.

In [ ]:
1
2
3

**Question 2.0.1.** If you want the output to include 1, use the function `print`. Change the cell below to produce an output with 1 and 3

In [ ]:
1
2
3

<a id='section2.1'></a>
### 2.1 Basic Arithmetic Operations
Lets learn a few basic (and extremely useful) operations

Addition: `+`

Subtraction: `-`

Multiplication: `*`

Division: `/`

Floor Division: `//`
This divides the number and rounds down

Remainder: `%`

Exponetiation: `**`

Note: `2 * * 5` will return an error. See below:

Python has rules like order of operations (PEMDAS), run the following cell:

In [ ]:
3+6*5-6*3**2*2**3/4*7

Now run this cell, notice the use of parenthesis. Happy New Year!!

In [ ]:
3+(6*5-(6*3))**2*((2**3)/4*7)

This is what Python reads for the first expression:

$$3+6 \times 5-6 \times 3^2 \times \frac{2^3} {4} \times 7$$

The second expression is evaluated as:

$$3 + (6 \times 5 - (6 \times3))^2 \times (\frac{(2^3)}{4} \times 7)$$

**Question 2.1.1** Write a python expression below that is equal to:

$$1 + (5 \times 8 - (44 \times2))^1 \times (\frac{(4^3)}{4})$$

<a id='section3'></a>
# Part 3: Variables and Fuctions

<a id='section3.1'></a>
### 3.1 Commenting
A *comment* is a line of code that the computer does not run. Why do we need this? When code has hundreds or even thousands of lines, it is sometimes hard to know what exactly the computer is computing in certain places. Adding comments allow the coder (you) to write in english what the line means/evaluates to.

To add a comment, we use a `#` symbol, everything to the right of the # is apart of the comment.

In [ ]:
#Calculating an approximation for pi
about_pi = 22/7
about_pi

<img src="http://imgs.xkcd.com/comics/future_self.png">
Source: http://imgs.xkcd.com/comics/future_self.png

<a id='section3.2'></a>
### 3.2 Assignment Statements
When we speak we don't say, "WOW look at that mammal with black and white stripes!" Instead, we say, "Zebra!"

Python can also do the same sort of classfication. We can assign a variable to an expression. This helps when we have really complicated code. We call this an *assignment statement* Python will evaluate the expression on the right side of the `=` and will store it to the variable on the left of the `=`. Once you run the line of code, everytime you call that varible later on, Python will insert the evaluated expression.

As we have seen, programing does not only include just numbers. Text is one of the most common types of values used in programs.

`string` is a programming term for a sequence of characters. This can include a single character, a word, a sentence, or a whole book. The contents can be anything; words, numbers, symbols.

In order to create a string of characters, we put double quotes`(")` or single quotes`(')` (both produce the same function) but, the opening and ending quotes must match.

We have seen strings before in `print` statements

Note: 
1. Variables are case senstive
2. They cannot start with a number like `6` but, `six` will work.
3. There cannot be any spaces, instead we use `_` (underscore) to seperate words.

In [ ]:
thesis =

Notice how no output was produced? This is because Python stored the expression in the variable `thesis`. Run the following cell:

In [ ]:
thesis

If no value has been assigned to a name, Python will return a NameError:

In [ ]:
topic_sentence

**Question 3.2.1** Assign a value to the `topic_sentence` below:

In [ ]:
topic_sentence =

In [ ]:
topic_sentence

A common pattern that in JN is to use assignment statements and then immediately evaluate the name in the last line of the cell.

In [ ]:
close_to_pi = 355/113
close_to_pi

Another common use of variables in JN is a series of lines in a single cell. This is a more complex computation in stages naming the end result rather than individual values

In [ ]:
rent = 
months = 
total_rent_paid = rent*months
total_rent_paid

**Question 3.2.2** Assign the name `seconds_in_a_year` to the number of seconds in a year. Compute 365 days for the year.

If you're stuck read the comments for hints :)

In [ ]:
# Change the next line so it computes the number of seconds in a year
# Try not to use a computer and instead use the Arithmetic functions to solve this

seconds_in_a_year = 

#We've put this line in the cell so that it will print your corresponding value
#Do not change this part!
#Hint: your output should start with 3 and end with three 0's
seconds_in_a_year

<a id='section3.3'></a>
### 3.3 Functions
*Functions* are pieces of code written by others that you can freely use. A functions is called through its name and then its argument or arguments the syntax of a function looks like this:
`function(argument)`. *Functions are case sensitive*. 

For example: `f(27)`

This is called a *call expression* because `f` is the name of the function being called and `27` is the argument being passed in.

Python has a set of built-in functions that are very simple to use. Lets look at a few!

In [ ]:
abs()

**Question 3.3.1** Pick a random number and assign it to the value n. Then, execute the cell:

In [ ]:
n = 
abs(n)

Some functions take in multiple arguments, seperated by commas. Lets look at a few:

In [ ]:
max(3, 4, 5, 6, 7)

In [ ]:
min(1, 2)

You can also pass in expressions into the functions. Below is an example of the function `round()`.

In [ ]:
# Run this cell and see the result
num_rotations = 4
radians_turned = 2 * about_pi * num_rotations
radians_turned

In [ ]:
#Run this cell and see the evidence of rounding
# round() rounds the output to the nearest integer
approx_radians_turned = round(2 * about_pi * num_rotations)
approx_radians_turned

*Nesting* is the term for what was displayed above. Here is a more simple example:

In [ ]:
abs(4 - max(2,3,4,5,6,9))

<a id='section3.4'></a>
### 3.4 Data Types
Python has several types of data.
1. Numbers look like this `[1.22, 4, 0.45, 2.0]` -- however, there are different types of numbers
    1. `int` is a whole number, such as 6, -2, 5500, etc.
    2. `float` is a number with decimal places, such as 1.34, 88.3, 3.0
2. `string` are a "string" of characters aka words and sentences. Strings are always surrounded by quotes
3. `bool` this is a fancy way of saying `True/False` or `1/0`

You can also convert different data types.
1. `str()` converts to a string
2. `int()` converts a number to an int
3. `float()` converts a number to a float

`type()` is a function that you can use to check the data type of something.

Try running these following code blocks to see what types of data they are:

In [ ]:
type(15)

In [ ]:
type(False)

In [ ]:
type("what type is this?")

__Question 3.4.1__ Try converting the number `5` into a string:

In [ ]:
string_5 = 

#the line below will print what data type string_5 is
type(string_5)

<a id='section3.5'></a>
### 3.5 Importing Code

A really nice feature that Python has is built-in functions. These are functions that were already defined by other people can be imported and used without having to define functions.

Let's look at the `import math` function:

In [ ]:
import math

#math is super useful when trying to use functions like pi or square root
print(math.pi)
print(math.sqrt(16))

Once you import the code once in the notebook, python does not need a reminder everytime you use the function
Here are some functions you can use in the `math` notebook:

|Method Name|Value|
|-|-|
|`cos(x)`|returns the cosine of x radians|
|`sin(x)`|returns the sine of x radians|
|`tan(x)`|returns the tangent of x radians|
|`e`|returns the value of *e*|
|`pi`|returns the value of pi (3.14)|
|`factorial(x)`| calculates factorials|
|`log(logarithm, base)`|calculates logarithms. The first number is the logarithm and the second number is the base.|
|`sqrt(x)`| calculates square roots|

**Question 3.5.1** 
Let's create some code:

Write this code in the next line! 

**Hint**: just simply stating the function does not tell python where to get it from. Remember to write `math.` before each function
$$cos(\pi)$$

Try this one:
$$\sqrt(16)$$

<a id='section3.6'></a>
### 3.6 Creating your own functions
In addition to being able to use functions that are already built-in to Python, you can also create your own functions! Creating a function is also called defining a function.

The basic structure of writing your own function is as follows:

In [ ]:
#this code does not work -- this is in a code cell for format purposes
def function_name(arg1, arg2, ...):
    do_stuff

Parts of a function definition:
1. `def` - This is the first thing you type to define a function and goes at the beginning of every new function you make.
2. `function_name` - This can be anything but falls under the same constraints as variable names (Section 3.2). This usually describes the purpose of the function.
3. `(arg1, arg2, ...)` - The args in the parentheses are short for argument. These are the arguments (inputs) for the function. The ellipsis (...) means that you can have as many arguments for your function as you want.
4. `:` - This always ends the first line of a function definition. If you forget this your code will not work.
5. `do_stuff` - This is all the code that you will put in your function. It is indented to the right, which you can do by pressing the Tab key.

Below is a function `square_plus_one` that I have created that takes a square of a number, adds 1 to the value, then prints it.

In [ ]:
def square_plus_one(x):
    print(x**2 + 1)

#the lines below call square_plus_one with a few different inputs, these lines are not indented
square_plus_one(1)
square_plus_one(5)
square_plus_one(-15)

__Question 3.6.1__ Define a function named `smallest_times_two` that takes the smaller value of two arguments `x` and `y`, multiplies it by two, then prints it. Then call your function under your definition with inputs 25 and 3 and make sure that when you run the cell you get 6.
_(Hint: use a function from Section 3.4)_

In [ ]:
def smallest_times_two(x, y):
    
    
smallest_times_two(25, 3)

<a id='section4'></a>
# Part 4: Lists
Lists are another Python data type. Although we could code every little detail in our computer, we can lists to put many values into one place so we can tell functions to operate them as a group. Let's look at how to work with these!

<a id='section4.1'></a>
### 4.1 Creating Lists
Lists are denoted using square brackets `[` and `]`. To create a list, all you have to do is simply typw whatever you want to store in the list separated by commas and surrounded by brackets.

For example:
`new_list = [1, 2, 3]`

new_list is now a list that contains the numbers 1, 2, and 3

Try it out yourself! Create a list below called `groceries` that contains the strings `apples`, `broccoli`, `bread`, and `oat milk`.

<a id='section4.2'></a>
### 4.2 Single Elements of Arrays ('indexing')
A lot of times in Python we want just one specific value in a list containing many values. Lets look at an example below:

In [ ]:
#run this cell to make list
big = range(-13, 987)

This creates a list called `big` of 1,000 values. Lets assume we want to find the 100th value of `big`. To do this, we use a term called indexing. Here are some key features you should know first:

1. To index, you type square brackets after the list name with the position of the item in the list you want ex. `list[1]` 
2. indexing starts with `0` not `1`. This means that if we do `list[1]` it will give us the second element of the array; `list[0]` will give the first element of the array.

**Question 4.2.1** Find the 100th element in `big`:

<a id='section4.3'></a>
### 4.3 List Operations
Here are some operations you can do on lists:
1. ~~`+` adds items in lists by index ex. `[1, 2, 3] + [2, 3, 4]` equals `[3, 5, 7]`~~
    1. ^^ This is an error I made in class -- This operator works as shown in the way above on _arrays_, not _lists_ (two similar data types, but don't worry about this for now).
    2. `*` will stick on another list to the end of a list ex. `[1, 2, 3] + [4, 5, 6]` equals `[1, 2, 3, 4, 5, 6]`
2. ~~`*` will multiply each item in a list by a number ex. `[1, 2] * 2` equals `[2, 4]`~~ 
    1. ^^ This is an error I made in class -- This operator works as shown in the way above on _arrays_, not _lists_. 
    2. `*` on lists will repeat the list by the number you multiply it by ex. `[1, 2] * 2` equals `[1, 2, 1, 2]`
3. `len(list)` will give you the length of a list ex. `len([14, 12, 0, -2])` equals `4`

<a id='section5'></a>
# Part 5: Challenge Questions

<a id='section5.1'></a>
### 5.1 Arithmetic
**Question 5.1.1** In the next cell assign the name `new_year` to the larger number amoung the following two numbers:
1. the absolute value of $2^{5}-2^{11}-2^2-1$ AND
2. $5 \times 13 \times 31 +5$

Challenge yourself and use one statement (one line of code):


**Hint:** if you get 2020, re-read the first statement

In [ ]:
new_year =

<a id='section5.2'></a>
### 5.2 Lists and Arithmetic
Here is a (modified) menu for the best fast-food joint ever!

In [ ]:
#Run this cell
from datascience.tables import Table
food = ['Double-Double', 'Cheeseburger', 'Hamburger', 'French Fries', 'Shake (any flavour)', 'Small Drink', 'Medium Drink', 'Large Drink']
prices = ['3.45', '2.40', '2.10', '1.60', '2.15', '1.50', '1.65', '1.85']
In_n_out = Table().with_columns('Food', food, 'Prices ($)', prices)
In_n_out

Using this table lets answer some challenge questions:

**Question 5.3.1** Use indexing and the list `prices` to calculate Jenny's order:
    - Cheeseburger
    - French Fries
    - Chocolate Shake
Use `jenny_bill` as the name of the calculation.

In [ ]:
jenny_bill =

**Question 5.3.2**
The combined sales tax rate for Berkeley, CA is [9.25%]('https://www.avalara.com/taxrates/en/state-rates/california/cities/berkeley/'). Calculate Jenny's total restaurant bill with tax below:

In [ ]:
jenny_total =

**Question 5.3.3** Now compute the following orders with the given names:

|Name|Order|
|-|-|
|Mark|Cheeseburger and Medium Drink|
|Ajay|French Fries and Small Drink|
|Kevin|Hamburger, French Fries, Large Drink|
|Ani|Double-Double and Small Drink|

In [ ]:
#Cheeseburger and a Medium Drink
mark_bill = 

#French Fries and Small Drink
ajay_bill = 

#Hamburger, French Fries, Large Drink
kevin_bill = 

#Double-Double and Small Drink
ani_bill =

<a id='section6'></a>
# Feedback survey
This is optional, but I would appreciate if you could fill this out: https://tinyurl.com/splashpythonfeedback

Thanks for attending!